# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class
build/
dist/
wheels/
*.egg-info

# C extensions
*.so

# Virtual environments
.venv

# uv
# uv.lock

# PyPI configuration file
.pypirc

# macos
.DS_Store

# linux
*~

# ide
.vscode/
.idea/
.claude/

# more
temp*/
todo/
trash/
.*_cache/
.python-version
